
.container-home-menu {
    width: 100%;
    height: 116px;
    margin: 186px 0 182px;
    padding: 36px 61px 43px 1px;
    background-color: #783183;
    position: absolute;
    margin-top: -145px;
}

.container-home-menu ul {
    display: inline-flex;
    margin: 42px;
    align-items: center;
    color: #fff;
    list-style-type: none;
}


.container-home-menu ul li {
    margin: 0 37px 0 0;
    cursor: pointer;
}
