.container-avaible-price {
    width: 233px;
    height: 40px;
    margin: 7px 0 0;
    font-family: OpenSans;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #bb64c8;
}

.container-avaible-title {
    width: 134px;
    height: 15px;
    margin: 0 99px 7px 0;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
}

.container-avaible {
    width: 300px;
    height: 86px;
    margin: 22px 39px 0 36px;
    padding: 12px 55px 12px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 0 rgba(56, 56, 56, 0.2);
    background-image: linear-gradient(to bottom, #fefefe, #ffffff);
    z-index: 9;
}

.container-avaible-detail {
    width: 300px;
    margin: 277px 39px 21px 36px;
    padding: 12px 13px 12px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 0 rgba(56, 56, 56, 0.2);
    background-image: linear-gradient(to bottom, #fefefe, #ffffff);
    z-index: 99;
}

.row-avaible {
    margin: 0 auto;
}

.section-payment {
    display: flex;
}

.btn-payment {
    width: 120px;
    height: 32px;
    margin: 16px 0 12px 27px;
    padding: 8px 16px 7px 17px;
    border-radius: 4px;
    background-color: #5acaee;
    border: none;
}

.row {
    margin: 3%;
}

.row-price {
    display: flex;
    align-items: center;
}