.section-movimientos {
    list-style-type: none;
}

.section-title {
    text-align: left;
    margin: 5%;
}

table {
    width: 100%;
}

table > tr > td {
    padding: 3%;
}

.td-description {
    text-align: left;
}

.td-laste-activity {
    text-align: right;
}