

.container-header {
    background-image: linear-gradient(to top, rgba(34, 168, 210, 0.2) 115%, rgba(255, 255, 255, 0) -21%);
    height: 277px;
    position: absolute;
    width: 100%;
}

.row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.row-header-title {
    margin: 0 11% 0 0;
}